@import '/reset.css';
body{
    background: #1E252B;
    
}
li{
    list-style: none;
}
.container{
    margin-left: 120px;
    margin-right: 105px;
}
:root{
    --whiteDark:rgba(255, 255, 255, 0.55);
    --white:white;
    --gold:#FFA537;
    --orange:#FF6E30;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
}
.header-icon{
    display: flex;
    align-items: center;
}
.header-link {
    color: var(--white);
    text-decoration: none;
    margin-left: 22px;
}
.header-nav {
    display: flex;
}
.header-ul {
    display: flex;

}
.header-ul-li {
    color: var(--whiteDark);
    margin-left: 30px;
    list-style: none;
    cursor: pointer;
}
.after{
    position: relative;
    }
    .after::after{
        content:'>';
        position: absolute;
        rotate: 90deg;
        right: -12px;
        top: 4px;
}
.header-account {
    display: flex;
    align-items: center;
}
.header-account-login {
    color: var(--whiteDark);
    margin-right: 40px;
}
.header-account-sign {
    color: var(--white);
    background:#FF6E30 ;
    padding: 12px 28px;
    border-radius: 8px;
    
}
.hero {
    display: flex;
background:url(/images/Illustration.png) no-repeat right/contain ;
flex-direction: column;

}
.hero-title {
    color: var(--white);
    font-weight: 500;
font-size: 50px;
line-height: 140%;
}
.hero-dott{
    color: #FF6E30;
}
.hero-description {
    color: var(--whiteDark);
    font-weight: 400;
font-size: 18px;
line-height: 167%
}
.hero-img {
}
.hero-input {
    width: 350px;
    background: #283036;
border-radius: 7px;
border: none;
padding: 20px 4px;
padding-left: 43px;
color: var(--white);
}
.hero-label{
    position: relative;
    
}
.hero-label::after{
    content: 'search';
    color: var(--white);
    background:#FF6E30 ;
    padding: 12px 28px;
    border-radius: 8px;
    margin-left: -108px;
    cursor: pointer;

}
.hero-search {
    width: 120px;
}
.hero-icons{
    display: flex;
}
.tools-wrapper {
}
.container {
}
.tools {
}
.tools-title {
 color: var(--white);
 text-align: center;
 font-size: 48px ;
}
.tools-description {
    color: var(--whiteDark);
    text-align: center;
    font-size: 18px;
}
.tools-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.tools-card-item {
    width: 26%;

}
.tools-item-icon {
    display: flex;
    align-items: center;
}
.tools-item-image {
    width: 64px;
    height: 64px;
}
.tools-cards-item-right {
    display: flex;
    flex-direction: column;
}
.tools-cards-right-title {
color: var(--white);
}
.tools-cards-right-description {
    color: var(--gold);
}
.tools-card-item-desc {
    color: var(--whiteDark);
}
.tools-cards-right-ul {
    align-items: center;
    display: flex;
    
}
.tools-cards-right-li {

}
.tools-cards-right {
    color: var(--whiteDark) ;
    margin-left: 140px;
}
.heart{
    margin-right: 15px;
}
.tools-button{
    margin-left: 850px;
    margin-top: 50px;
    
}
.load-more{
    color: var(--orange);
}
.brand-wrapper {
}
.container {
}
.brand-title {
}
.brand-title-h2 {
    color: var(--white);
    text-align: center;
    position: absolute;
    z-index: 2;
    margin-left: 37%;
    padding-top: 1.5%;
    
}

.brand-ul {
    display: flex;
    justify-content: center;
}
.brand-ul-list {
    display: flex;
    justify-content: center;
    column-gap: 110px;
    backdrop-filter: blur(50px);
background: rgba(44, 53, 61, 0.2);
padding-bottom: 70px;
padding-top: 100px;
border-radius: 30px;
width: 1200px;
}
.brand-ul-list-item {
}
.brand-ul-list-item-icon {
}
.Newcomer-wrapper {
}
.container {
}
.newcomer {
    display: flex;
    justify-content: space-between;
}
.newcomer-left {
    flex-basis: 50%;
}
.newcomer-left-title {
    color: var(--white);
    font-size: 48px;
}
.newcomer-left-description {
    color: var(--whiteDark);
    font-size: 18px;
}
.header-account-sign {
}
.newcomer-right {
    flex-basis: 50%;
    flex-wrap: wrap;
}
.newcomer-right-list {
    display: flex;
    
}
.tools-card-item {
}
.tools-item-icon {
}
.tools-item-image {
}
.tools-cards-item-right {
}
.tools-cards-right-title {
}
.tools-cards-right-description {
}
.tools-card-item-desc {
}
.tools-cards-right-ul {
}
.tools-cards-right-li {
}
.heart {
}
.file {
}
.tools-cards-right {
}
.newcomer-right-list .tools-card-item{
width: 400px;
}